.header {
  height: 125px;
  background-color: #0a5d3b;
  padding-top: 10px;
  padding-left: 20px;
  margin-bottom: 30px;
  color: white;
}

.calculator {
  border-radius: 20px;
  width: 400px;
  height: 600px;
  margin: auto;
  padding: 13.33px;
  background-color: #163041;
  margin-bottom: 20px;
}

.output {
  border: 3px solid #003045;
  border-radius: 20px;
  height: 180px;
  padding-left: 10px;
  background-color: #d1ebf1;
  font-size: 50px;
  padding-bottom: 5px;
  font-weight: bold;
}

.output p {
  height: 90px;
  margin: 0;
  padding-top: 5px;
}

.keyboard {
  padding: 5px;
  height: 380px;
  width: 390px;
  display: grid;
  margin-top: 13.33px;
  grid-template-columns: 5;
  grid-template-rows: 4;
  grid-template-areas:
    "1 2 3 div del"
    "4 5 6 mul del"
    "7 8 9 minus equ"
    "cl 0 point plus equ";
}

.keyboard button {
  margin-top: 0;
  background-color: #bdcbbf;
  font-family: "Karla", sans-serif;
  font-size: 40px;
  font-weight: bold;
  padding: auto;
  border-radius: 7px;
  width: 78px;
}

#delete {
  grid-area: del;
  border-top-right-radius: 20px;
}

#equals {
  width: 100%;
  grid-area: equ;
}

#one {
  border-top-left-radius: 20px;
}

#clear {
  border-bottom-left-radius: 20px;
}

#equals {
  border-bottom-right-radius: 20px;
}
